cffi==1.16.0
cryptography==43.0.0
et-xmlfile==1.1.0
greenlet==3.0.3
numpy==2.0.1
openpyxl==3.1.5
pandas==2.2.2
pycparser==2.22
PyMySQL==1.1.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
